dash==2.16.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_mantine_components==0.14.1
flask-caching==2.1.0
mysql-connector==2.2.9
mysql-connector-python==8.3.0
neo4j==5.19.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
plotly==5.21.0
polars==0.20.21
pycountry==23.12.11
pycountry-convert==0.7.2
pymongo==4.6.3
pyarrow==15.0.2
tqdm==4.66.2