@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 99.5vw;
}

.headerSpace {
    position: absolute;
    z-index: 2;
    top: 0px;
}

header{
    background-color: black;
    width: 99.5vw;
    margin-bottom: 0px;
    position: sticky;
    z-index: 2
}

header img{
    height: 67px;
    width: auto;
    display: inline;
}

header a{
    width: 300px;
    display : inline;
}

header h1{
    display: inline;
    position: absolute;
    height: 67px;
    width: auto;    
    margin: auto;
    padding-top: 9px;
    padding-left: 9px;
    text-decoration: none;
    color: white;

}


.Home{
    height: 100vh;
    width: 99.5vw;
    margin: 0px;
}

.minerLink{
    width: 300px;
    padding: 0px;
    display: block;
    height: 300px;

}

.minerLink img{
    width: 300px;
    height: 300px;
}


.logoBox{
    margin: 50px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.inputSpace {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 100px 10px;
    border: 1px solid rgb(228, 228, 228);
    height: 80vh;
    width: 99.5vw;
    padding: 50px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 70vh;
    overflow: hidden;
}

.tableSpace {
    width: 95.5vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: scroll;
    align-items: center;

}


.geographSpace{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    height: 65vh;
    width: 17.3vw;

}

.geomapSpace {
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 99vw;

}

.loadingStyle2 {
    position: absolute;
    top: 0px;
}

.loadingStyle1 {
    position: absolute;
    top: 30vh;
}